computeCost.m
computeCostMulti.m
ex1_multi.m
ex1.m
ex1data1.txt
mlcodes.zip
numpy_example.py
ex1.pdf
gradientDescent.m
warmUpExercise.m
Excercise_1_ex1.py
featureNormalize.m
gradientDescentMulti.m
import numpy as np.py
normalEqn.m
plotData.m
submit.m
__pycache__/gradient_descent_utils.cpython-310.pyc
